<html>

<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <img src="http://i.imgur.com/R8UeOMC.png" style="width: 100%">

    <div class="col-md-6 col-md-offset-3">
      <div style="text-align:center">
        <% if(userid){ %>
          <form action="/logout" method="POST"><br>
            <input type="submit" value="Log out" class="btn btn-default">
          </form>
          <br>
          <p><a href="/urls/new" class="btn btn-default">Click here to shorten a new URL</a></p>
          <br>
          <% } else { %>
            <button><a href="/login" class="btn btn-default">Login</a></button><br><br>
            <button><a href="/register" class="btn btn-default">Register</a></button><br>
            <p><a href="/login" class="btn btn-default">Click here to shorten a new URL</a></p>
            <% } %>
      </div>
    </div>
  </div>
</body>

</html>