<html>
  <body>
    <header>
      <style>
        h1 {
          margin: 1em 0 0.5em 0;
          color: #FF16F4;
          font-weight: heavy;
          font-family: 'Ultra', sans-serif;
          font-size: 50px;
          line-height: 42px;
          text-transform: uppercase;
          text-align: center;
          text-shadow: 0 2px white, 0 3px #777;}
        form {
          text-align: left;
          font-family: 'Ultra', sans-serif;
          font-size: 15px;
        }
      </style>
      <h1>Tiny URL Wannabe</h1>
    </header>
      <% if(users){ %>
        <form action="/logout" method="POST"><br>
          Welcome to the best website in the world,<br>
          enjoy your stay!<br><br>
          <input type="submit" value="Log out" style="font-size: 150%">
        </form>
      <% } else { %>
        <button><a href="/login">Login</a></button><br><br>
        <button><a href="/register">Register</a></button><br>
      <% } %>
  </body>
</html>
