<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TinyApp Login</title>
</head>
<body>
  <h2>Login</h2>
  <form action="/login" method="POST">
  Email:<br>
  <input type="email" name="email" placeholder="example@example.com" style="width: 200px; font-size: 90%"><br><br>
  Password:<br>
  <input type="password" name="password" style="width: 200px; font-size: 90%"><br><br>
  <input type="submit" value="Log in" style="font-size: 150%"><br><br>
  </form><br><br>
  <a href="/urls">[Return to home]</a>
</form>
</body>
</html>