<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <style>
      table, th, td {
        padding: 15px;
        border: 1px solid black;
        border-collapse: collapse;
        margin: 0 0 0 360px;
        font-family: 'Ultra', sans-serif;
        font-size: 100%;
        text-align: center;
      }
      h2 {
        margin: 0 0 20px 650px;
        font-family: 'Ultra', sans-serif;
      }
      p {
        margin: 20px 0 0 360px;
      }
    </style>
  </head>
  <body>
    <% include partials/_header.ejs %>
    <h2>URL Details</h2>
    <table style="width:50%">
      <tr>
        <th>Shortened URL</th>
        <th>Original URL</th>
      </tr>
      <tr>
        <td>
          <%= shortURL %>
        </td>
        <td>
          <form action="/urls/<%= shortURL %>/update" method="POST" style="font-family: 'Ultra', sans-serif;font-size: 15px;">
            <label for="longURL">Enter a URL:</label>
            <input id="longURL" type="text" name="longURL" value="<%= orgURL %>" style="width: 300px; font-size: 90%">
            <input type="submit" value="Update" style="font-size: 150%">
          </form>
        </td>
      </tr>
    </table>
    <p><a href="/urls">[Return to home]</a></p>
  </body>
</html>