<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TinyApp Registration</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <img src="http://i.imgur.com/R8UeOMC.png" style="width: 100%">

    <div class="col-md-8 col-md-offset-2">
      <h2>Register</h2>
      <br>
      <form style="padding-bottom: 40px; border-bottom: 1px solid lightgrey" class="form-group" action="/register" method="POST">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" placeholder="example@example.com">
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" class="form-control" name="password">
        <br>
        <input type="submit" class="btn btn-default" value="Signup">
        <br>
      </form>
      <br>
      <p><a href="/login" class="btn btn-default">Already have an account? Login</a></p>
      <p>or</p>
      <p><a href="/urls" class="btn btn-default">Return to home</a></p>
</body>

</html>