<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TinyApp Registration</title>
</head>
<body>
  <h2>Register</h2>
  <form action="/register" method="POST">
  Email:<br>
  <input type="email" name="email" placeholder="example@example.com" style="width: 200px; font-size: 90%"><br><br>
  Password:<br>
  <input type="password" name="password" style="width: 200px; font-size: 90%"><br><br>
  <input type="submit" value="Signup" style="font-size: 150%"><br><br>
</form><br>
  <a href="/login">[Login]</a><br><br>
  <a href="/urls">[Return to home]</a>
</body>
</html>