<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

</head>

<body>
  <div class="container">
    <% include partials/_header.ejs %>
      <h2>URL Index</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Original URL</th>
              <th>Shortened URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="line-height: 50px">
                <ul class="list-group">
                  <% for(var index in urls) {%>
                    <li class="list-group-item" style="border: none">
                      <%= urls[index].longURL %>
                    </li>
                    <% } %>
                </ul>
              </td>
              <td style="line-height: 50px">
                <ul class="list-group">
                  <% for(var index in urls) {%>
                    <li class="list-group-item" style="border: none">
                      <form method="POST" action="/urls/<%= index %>/delete">
                        <%= index %> <a href="/urls/<%= index %>" class="btn btn-default">Edit</a>
                          <button class="btn btn-default">Delete</button>
                      </form>
                      <% } %>
                    </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</body>

</html>